<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShowControl_GameOperator.GameConfiguration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShowControl_GameOperator.FFFOperatorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ShowControl_GameOperator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ShowControl_GameOperator.GameConfiguration>
            <setting name="DefaultGameConfigurationPath" serializeAs="String">
                <value>C:\ShowControl</value>
            </setting>
        </ShowControl_GameOperator.GameConfiguration>
        <ShowControl_GameOperator.FFFOperatorSettings>
            <setting name="StartUpNumberOfFFFContestants" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ClockDecimalPlaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DurationOfFFFGameTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ShowControl_GameOperator.FFFOperatorSettings>
        <ShowControl_GameOperator.My.MySettings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="ContestantNameSurname" serializeAs="String">
                <value />
            </setting>
            <setting name="Biography" serializeAs="String">
                <value />
            </setting>
            <setting name="questionFlashTempl" serializeAs="String">
                <value>wwtbam/currentWorking/QuestionFireUKp1v1-clock</value>
            </setting>
            <setting name="casparHostName" serializeAs="String">
                <value>192.168.100.2</value>
            </setting>
            <setting name="casparPort" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="contestantHomeTown" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="contestantGuest" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="audienceVotesServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mySqlUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mySqlPassword" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="audienceVotesDatabase" serializeAs="String">
                <value>wwtbam</value>
            </setting>
            <setting name="audienceVotesTable" serializeAs="String">
                <value>audiencevotes</value>
            </setting>
            <setting name="moneyTreeFlashTempl" serializeAs="String">
                <value>wwtbam/currentWorking/MoneyTreeUIp1</value>
            </setting>
            <setting name="rightOrderFlashTempl" serializeAs="String">
                <value>wwtbam/currentWorking/FFFRightOrderUIp2</value>
            </setting>
            <setting name="whoIsCorrectFlashTempl" serializeAs="String">
                <value>wwtbam/currentWorking/FFFWhoIsRightUIp1v1LowPerformance</value>
            </setting>
            <setting name="QuizOperatorIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fastestNameClokStrapFlashTempl" serializeAs="String">
                <value>wwtbam/currentWorking/FFFNameStrapFastestUIp1v2</value>
            </setting>
            <setting name="FFFClockDecimalPlaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StateServerIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="IsInteractiveScreenOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gameQuestionsServer" serializeAs="String">
                <value>IDEA-PC\SQLEXPRESS02</value>
            </setting>
            <setting name="UseMySqlForAta" serializeAs="String">
                <value>True</value>
            </setting>
        </ShowControl_GameOperator.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

</configuration>
